{% extends 'base.html' %} 
{% load static %} 
{% block title %} Home 
{% endblock title %} 
{% block content %}
<div class="px-4 my-5 text-center">
  <img src="{%static '/images/logo_name.svg' %}" />
</div>
<div class="container">
  <div class="form-holder">
    <p class="fs-6">Entre na sua conta:</p>
    <form method="POST" class="form-group">
      {% csrf_token %} {{ form.as_div }}
      <div id="forget-pass-holder">
        <a
          id="forget-pass"
          class="green-link"
          href="{% url 'password_reset' %}">
          Esqueci a senha
        </a>
        <br/>
        <button type="submit" class="btn pink-btn btn-lg" style="width:265px">Entrar</button>
      </div>
    </form>
  </div>  
</div>
{% endblock content %}
